---
import MainLayout from "../layouts/MainLayout.astro";
import Button from "../components/Button.astro";
import Link from "../components/Link.astro";
import { Image } from "astro:assets";
import index from "/public/imgs/index.webp";
import caribien from "/public/imgs/caribien.webp";
import om_os from "/public/imgs/om_os.webp";
import olivia from "/public/imgs/olivia.webp";
import emma from "/public/imgs/emma.webp";
import oskar from "/public/imgs/oskar.webp";
import fie from "/public/imgs/fie.webp";
---

<MainLayout title="Höjskolendk">
  <!-- HERO -->
  <section>
    <h1 class="font-headline text-h1 text-neutrals-950">Hello</h1>
    <Image src={index} alt="" />
  </section>

  <!-- REJSEPAKKER -->
  <section></section>

  <!-- INFOMØDE -->
  <section></section>

  <!-- REJSEBLOGS -->
  <section></section>

  <!-- NÅR DU REJSER MED HÖJSKOLENDK -->
  <section>
  <div class="text-center m-m">
    <h2 class="text-neutrals-950 font-bold text-h2 font-headline">Når du rejser med Höjskolen</h2>
  </div>

  <!-- teambuilding -->
  <div class="min-h-screen flex justify-center items-center">
  <div class="bg-yellow-500 p-6 flex gap-4 items-start max-w-5xl">
    <div class="flex items-center justify-center w-full h-auto">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 512" class="w-full h-full p-m m-xs fill-orange-500">
        <path d="M144 0a80 80 0 1 1 0 160A80 80 0 1 1 144 0zM512 0a80 80 0 1 1 0 160A80 80 0 1 1 512 0zM0 298.7C0 239.8 47.8 192 106.7 192l42.7 0c15.9 0 31 3.5 44.6 9.7c-1.3 7.2-1.9 14.7-1.9 22.3c0 38.2 16.8 72.5 43.3 96c-.2 0-.4 0-.7 0L21.3 320C9.6 320 0 310.4 0 298.7zM405.3 320c-.2 0-.4 0-.7 0c26.6-23.5 43.3-57.8 43.3-96c0-7.6-.7-15-1.9-22.3c13.6-6.3 28.7-9.7 44.6-9.7l42.7 0C592.2 192 640 239.8 640 298.7c0 11.8-9.6 21.3-21.3 21.3l-213.3 0zM224 224a96 96 0 1 1 192 0 96 96 0 1 1 -192 0zM128 485.3C128 411.7 187.7 352 261.3 352l117.3 0C452.3 352 512 411.7 512 485.3c0 14.7-11.9 26.7-26.7 26.7l-330.7 0c-14.7 0-26.7-11.9-26.7-26.7z"/>
      </svg>
    </div>
    <div>
      <h4 class="text-neutral-950 font-regular text-h4 font-headline m-m">Teambuilding</h4>
      <p class="text-neutral-950 font-regular text-body m-m">
        Hvorfor tage på et kedeligt kursus i Danmark, når du kan rejse ud i verden og udvikle dig samtidig? Du rejser sammen med andre unge voksne og lærer en hel masse om samarbejde, relationer, fællesskab, konflikter, styrker og stærke teams. Du får ikke blot rejse-erfaring på cv’et, men også et væld af brugbare redskaber til studie eller karriere.
      </p>
    </div>
  </div>
</div>

<!-- frivilligt arbejde og kulturforståelse -->
</section>

  <!-- OM OS -->
  <section class="grid grid-cols-1 md:grid-cols-2 gap-4 p-4 items-center m-lg">
    <div>
      <h2 class="text-neutrals-950 font-bold text-h2 font-headline mb-m">
        Siden 2014 har vi sørget for eventyr
      </h2>
      <p class="mb-s text-neutrals-950 font-regular text-body">
        HÖJSKOLENDK er en dansk højskole for unge i alderen ca. 18-30 år. Vi
        brænder for oplevelser, fællesskab og mødet med nye mennesker og
        kulturer; derfor laver vi eventyrlige højskoleophold i udlandet.
      </p>
      <p class="mb-s text-neutrals-950 font-regular text-body">
        HÖJSKOLENDK er noget for dig, hvis du vil på højskole i udlandet og er
        vild med højskolefællesskab, vil med på et fantastisk rejseeventyr,
        glæder dig til at lære om fremmede kulturer, vil rejse med rygsæk,
        drømmer om en fed grupperejse med andre skønne unge, vil opleve et
        stærkt sammenhold og ønsker inspirerende og meningsfuld undervisning. Du
        er sikker på en tryg rejseoplevelse da vi er medlem af
        Rejsegarantifonden.
      </p>
      <p class="mb-s text-neutrals-950 font-regular text-body">
        Vi glæder os til at lære dig at kende!
      </p>
      <Button />
    </div>

    <div class="m-lg">
      <img
        src=""
        alt="Billede af glade højskole elever i naturen"
        class="w-full h-auto rounded"
      />
    </div>
  </section>

  <!-- FAQ -->
  <section></section>

  <!-- REVIEWS -->
  <section></section>
</MainLayout>
