---
import MainLayout from "../layouts/MainLayout.astro";
import Button from "../components/Button.astro";
import Link from "../components/Link.astro";
import { Image } from "astro:assets";
import index from "/public/imgs/index.webp";
import caribien from "/public/imgs/caribien.webp";
import om_os from "/public/imgs/om_os.webp";
import olivia from "/public/imgs/olivia.webp";
import emma from "/public/imgs/emma.webp";
import oskar from "/public/imgs/oskar.webp";
import fie from "/public/imgs/fie.webp";
---

<MainLayout title="Höjskolendk">
  <!-- HERO -->
  <a href="/priser">Priser siden</a>
  <section>
    <h1 class="font-headline text-h1 text-neutrals-950">Hello</h1>
    <Image src={index} alt="" />
  </section>

  <!-- REJSEPAKKER -->
  <section></section>

  <!-- INFOMØDE -->
  <section></section>

  <!-- REJSEBLOGS -->
  <section></section>

  <!-- NÅR DU REJSER MED HÖJSKOLENDK -->
  <section>
    <div class="text-center m-m">
      <h2 class="text-neutrals-950 font-bold text-h2 font-headline mb-m">
        Når du rejser med Höjskolen
      </h2>
    </div>
    <div class="bg-yellow-500">
      <div>
        <img src="" alt="" />
      </div>
      <h4 class="text-neutrals-950 font-regular text-h4 font-headline m-ml">
        Teambuilding
      </h4>
      <p class="text-neutrals-950 font-regular text-body m-ml">
        Hvorfor tage på et kedeligt kursus i Danmark, når du kan rejse ud i
        verden og udvikle dig samtidig? Du rejser sammen med andre unge voksne
        og lærer en hel masse om samarbejde, relationer, fællesskab, konflikter,
        styrker og stærke teams. Du får ikke blot rejse-erfaring på cv’et, men
        også et væld af brugbare redskaber til studie eller karriere.
      </p>
    </div>
  </section>

  <div class="text-center m-lg">
    <h2 class="text-neutrals-950 font-bold text-h2 font-headline">
      Når du rejser med Höjskolen
    </h2>
  </div>

  <!-- teambuilding -->
  <div class="flex justify-center items-center m-s">
    <div class="bg-yellow-500 p-6 flex gap-4 items-start max-w-7xl">
      <div class="flex items-center justify-center">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 640 512"
          class="w-3xl h-3xl m-m fill-orange-500"
        >
          <path
            d="M144 0a80 80 0 1 1 0 160A80 80 0 1 1 144 0zM512 0a80 80 0 1 1 0 160A80 80 0 1 1 512 0zM0 298.7C0 239.8 47.8 192 106.7 192l42.7 0c15.9 0 31 3.5 44.6 9.7c-1.3 7.2-1.9 14.7-1.9 22.3c0 38.2 16.8 72.5 43.3 96c-.2 0-.4 0-.7 0L21.3 320C9.6 320 0 310.4 0 298.7zM405.3 320c-.2 0-.4 0-.7 0c26.6-23.5 43.3-57.8 43.3-96c0-7.6-.7-15-1.9-22.3c13.6-6.3 28.7-9.7 44.6-9.7l42.7 0C592.2 192 640 239.8 640 298.7c0 11.8-9.6 21.3-21.3 21.3l-213.3 0zM224 224a96 96 0 1 1 192 0 96 96 0 1 1 -192 0zM128 485.3C128 411.7 187.7 352 261.3 352l117.3 0C452.3 352 512 411.7 512 485.3c0 14.7-11.9 26.7-26.7 26.7l-330.7 0c-14.7 0-26.7-11.9-26.7-26.7z"
          ></path>
        </svg>
      </div>

      <div>
        <h4 class="text-neutral-950 font-regular text-h4 font-headline m-s">
          Teambuilding
        </h4>
        <p class="text-neutral-950 font-regular text-body m-s">
          Hvorfor tage på et kedeligt kursus i Danmark, når du kan rejse ud i
          verden og udvikle dig samtidig? Du rejser sammen med andre unge voksne
          og lærer en hel masse om samarbejde, relationer, fællesskab,
          konflikter, styrker og stærke teams. Du får ikke blot rejse-erfaring
          på cv’et, men også et væld af brugbare redskaber til studie eller
          karriere.
        </p>
      </div>
    </div>
  </div>

  <!-- frivilligt arbejde og kulturforståelse -->
  <div class="flex justify-center items-center m-s">
    <div class="bg-yellow-500 p-6 flex gap-4 items-start max-w-7xl">
      <div class="flex items-center justify-center">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 576 512"
          class="w-3xl h-3xl m-m fill-orange-500"
          ><path
            d="M163.9 136.9c-29.4-29.8-29.4-78.2 0-108s77-29.8 106.4 0l17.7 18 17.7-18c29.4-29.8 77-29.8 106.4 0s29.4 78.2 0 108L310.5 240.1c-6.2 6.3-14.3 9.4-22.5 9.4s-16.3-3.1-22.5-9.4L163.9 136.9zM568.2 336.3c13.1 17.8 9.3 42.8-8.5 55.9L433.1 485.5c-23.4 17.2-51.6 26.5-80.7 26.5L192 512 32 512c-17.7 0-32-14.3-32-32l0-64c0-17.7 14.3-32 32-32l36.8 0 44.9-36c22.7-18.2 50.9-28 80-28l78.3 0 16 0 64 0c17.7 0 32 14.3 32 32s-14.3 32-32 32l-64 0-16 0c-8.8 0-16 7.2-16 16s7.2 16 16 16l120.6 0 119.7-88.2c17.8-13.1 42.8-9.3 55.9 8.5zM193.6 384c0 0 0 0 0 0l-.9 0c.3 0 .6 0 .9 0z"
          ></path>
        </svg>
      </div>

      <div>
        <h4 class="text-neutral-950 font-regular text-h4 font-headline m-s">
          Frivilligt arbejde og kulturforståelse
        </h4>
        <p class="text-neutral-950 font-regular text-body m-s">
          Drømmer du om at lave frivilligt arbejde og gøre en forskel i et andet
          land? Mange af vores højskole rejser inkluderer frivilligt arbejde,
          hvor vi kommer helt tæt på de lokale. Det giver dig en unik indsigt i
          landet, større forståelse for kulturen og måden man lever på i de
          forskellige lande.
        </p>
      </div>
    </div>
  </div>

  <!-- friuger - et valg af muligheder -->
  <div class="flex justify-center items-center m-s">
    <div class="bg-yellow-500 p-6 flex gap-4 items-start max-w-7xl">
      <div class="flex items-center justify-center">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 512 512"
          class="w-3xl h-3xl m-m fill-orange-500"
          ><path
            d="M57.7 193l9.4 16.4c8.3 14.5 21.9 25.2 38 29.8L163 255.7c17.2 4.9 29 20.6 29 38.5l0 39.9c0 11 6.2 21 16 25.9s16 14.9 16 25.9l0 39c0 15.6 14.9 26.9 29.9 22.6c16.1-4.6 28.6-17.5 32.7-33.8l2.8-11.2c4.2-16.9 15.2-31.4 30.3-40l8.1-4.6c15-8.5 24.2-24.5 24.2-41.7l0-8.3c0-12.7-5.1-24.9-14.1-33.9l-3.9-3.9c-9-9-21.2-14.1-33.9-14.1L257 256c-11.1 0-22.1-2.9-31.8-8.4l-34.5-19.7c-4.3-2.5-7.6-6.5-9.2-11.2c-3.2-9.6 1.1-20 10.2-24.5l5.9-3c6.6-3.3 14.3-3.9 21.3-1.5l23.2 7.7c8.2 2.7 17.2-.4 21.9-7.5c4.7-7 4.2-16.3-1.2-22.8l-13.6-16.3c-10-12-9.9-29.5 .3-41.3l15.7-18.3c8.8-10.3 10.2-25 3.5-36.7l-2.4-4.2c-3.5-.2-6.9-.3-10.4-.3C163.1 48 84.4 108.9 57.7 193zM464 256c0-36.8-9.6-71.4-26.4-101.5L412 164.8c-15.7 6.3-23.8 23.8-18.5 39.8l16.9 50.7c3.5 10.4 12 18.3 22.6 20.9l29.1 7.3c1.2-9 1.8-18.2 1.8-27.5zM0 256a256 256 0 1 1 512 0A256 256 0 1 1 0 256z"
          ></path>
        </svg>
      </div>

      <div>
        <h4 class="text-neutral-950 font-regular text-h4 font-headline m-s">
          Friuger - et valg af muligheder
        </h4>
        <p class="text-neutral-950 font-regular text-body m-s">
          Efter spændende og lærerige undervisningsforløb, har vi – alt efter
          hvilken højskole rejse du vælger – lagt én eller flere friuger ind.
          Her har I mulighed for selv at tage styringen og udforske dét land,
          kontinent eller ø-rige vi befinder os i. Friugerne bliver brugt på
          forskellig vis og oftest deler holdet sig op i lidt mindre grupper for
          at tage på eventyr – andre gange rejser hele holdet sammen på en fed
          friuge.
        </p>
      </div>
    </div>
  </div>

  <!-- vilde naturoplevelser -->
  <div class="flex justify-center items-center m-s">
    <div class="bg-yellow-500 p-6 flex gap-4 items-start max-w-7xl">
      <div class="flex items-center justify-center">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 640 512"
          class="w-3xl h-3xl m-m fill-orange-500"
          ><path
            d="M281 22L305.8 4.7c1.3-.9 2.7-1.8 4.1-2.4C313.1 .7 316.6 0 320 0s6.9 .7 10.1 2.2c1.4 .7 2.8 1.5 4.1 2.4L359 22C393 45.8 430.8 63.5 470.8 74.4l23 6.3c1.8 .5 3.6 1.1 5.2 2c3.2 1.7 5.9 4 8.1 6.8c3.8 4.9 5.6 11.3 4.7 17.8c-.4 2.8-1.2 5.4-2.5 7.8c-1.7 3.2-4 5.9-6.8 8.1c-4.3 3.2-9.6 5.1-15.1 4.9l-7.5 0 0 56.1 6.4 5.1 5.2 4.1c21.1 16.7 45 29.6 70.5 38.1l28.9 9.6c1.6 .5 3.2 1.2 4.6 2c3.1 1.7 5.8 4.1 7.8 6.9s3.5 6.1 4.1 9.6c.5 2.7 .6 5.5 .1 8.3s-1.4 5.4-2.7 7.8c-1.7 3.1-4.1 5.8-6.9 7.8s-6.1 3.5-9.6 4.1c-1.6 .3-3.3 .4-5 .4L544 288l0 65.9c20.5 22.8 47.4 39.2 77.4 46.7C632 403 640 412.6 640 424c0 13.3-10.7 24-24 24l-40 0 0 32c0 17.7-14.3 32-32 32s-32-14.3-32-32l0-32-160 0 0 32c0 17.7-14.3 32-32 32s-32-14.3-32-32l0-32-160 0 0 32c0 17.7-14.3 32-32 32s-32-14.3-32-32l0-32-40 0c-13.3 0-24-10.7-24-24c0-11.4 8-21 18.6-23.4c30-7.6 56.9-23.9 77.4-46.7L96 288l-39.4 0c-1.7 0-3.4-.1-5-.4c-3.5-.7-6.8-2.1-9.6-4.1s-5.2-4.7-7-7.8c-1.3-2.4-2.3-5-2.7-7.8s-.4-5.6 .1-8.3c.7-3.5 2.1-6.8 4.1-9.6s4.7-5.2 7.8-6.9c1.4-.8 3-1.5 4.6-2l28.9-9.6c25.5-8.5 49.4-21.4 70.5-38.1l5.2-4.1 6.4-5.1 0-8.1 0-48-7.5 0c-5.5 .1-10.8-1.7-15.1-4.9c-2.8-2.1-5.1-4.8-6.8-8.1c-1.2-2.4-2.1-5-2.5-7.8c-.9-6.5 .9-12.8 4.7-17.8c2.1-2.8 4.8-5.1 8.1-6.8c1.6-.8 3.4-1.5 5.2-2l23-6.3C209.2 63.5 247 45.8 281 22zM416 128l-96 0-96 0 0 64 72 0 48 0 72 0 0-64zM160 288l0 64 136 0 24 0 24 0 136 0 0-64-136 0-24 0s0 0 0 0l-24 0-136 0z"
          ></path>
        </svg>
      </div>

      <div>
        <h4 class="text-neutral-950 font-regular text-h4 font-headline m-s">
          Vilde naturoplevelser
        </h4>
        <p class="text-neutral-950 font-regular text-body m-s">
          Ingen rejse ud i verden uden eventyrlige og vilde naturoplevelser.
          Mange af de destinationer, hvor vi tager på højskoleophold, byder på
          enestående og overdådig natur. Det kan være alt fra snorkleture i
          Caribien, river rafting i Thailand, spotte brøleaber i Costa Ricas
          regnskove, gå på opdagelse i Inka-ruinerne i Mexico, trekke i
          Himalayas bjerge i Nepal, sejle kajak i marine nationalparker, dykke
          med manta rays på Hawaii, vandre i New Zealands fabelagtige
          nationalparker eller tage på safari i Sri Lanka og se leoparder,
          elefanter og bjørne. Alle vores rejser er fyldt med storslåede
          oplevelser, som du aldrig vil glemme.
        </p>
      </div>
    </div>
  </div>

  <!-- spændende kulturoplevelser -->
  <div class="flex justify-center items-center m-s">
    <div class="bg-yellow-500 p-6 flex gap-4 items-start max-w-7xl">
      <div class="flex items-center justify-center">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 512 512"
          class="w-3xl h-3xl m-m fill-orange-500"
          ><path
            d="M256 32c12.5 0 24.1 6.4 30.8 17L503.4 394.4c5.6 8.9 8.6 19.2 8.6 29.7c0 30.9-25 55.9-55.9 55.9L55.9 480C25 480 0 455 0 424.1c0-10.5 3-20.8 8.6-29.7L225.2 49c6.6-10.6 18.3-17 30.8-17zm65 192L256 120.4 176.9 246.5l18.3 24.4c6.4 8.5 19.2 8.5 25.6 0l25.6-34.1c6-8.1 15.5-12.8 25.6-12.8l49 0z"
          ></path></svg
        >
      </div>

      <div>
        <h4 class="text-neutral-950 font-regular text-h4 font-headline m-s">
          Spændende kulturoplevelser
        </h4>
        <p class="text-neutral-950 font-regular text-body m-s">
          Kulturen er vigtig at opleve, når man befinder sig i et nyt land. Det
          giver dig både nogle rigtigt spændende oplevelser og menneske-møder,
          men også en unik indsigt, du ikke kan læse dig til i en bog eller se i
          et rejseprogram. På vores højskole ture kan du opleve alt fra ældgamle
          Hindu-templer i Indien, surf-kulturen på Hawaii, Mayaindianerne i
          Guatemala, de gamle inkaruiner i Mexico, buddhisme i Thailand,
          te-plantager i Sri Lanka og kakao-farme i Costa Rica.
        </p>
      </div>
    </div>
  </div>
</MainLayout>
>>>>>>> 32521b3dcedd9e9c3bcb9217aa59a4db051a9c30

<!-- OM OS -->
<section class="grid grid-cols-1 md:grid-cols-2 gap-4 p-4 items-center m-lg">
  <div>
    <h2 class="text-neutrals-950 font-bold text-h2 font-headline mb-m">
      Siden 2014 har vi sørget for eventyr
    </h2>
    <p class="mb-s text-neutrals-950 font-regular text-body">
      HÖJSKOLENDK er en dansk højskole for unge i alderen ca. 18-30 år. Vi
      brænder for oplevelser, fællesskab og mødet med nye mennesker og kulturer;
      derfor laver vi eventyrlige højskoleophold i udlandet.
    </p>
    <p class="mb-s text-neutrals-950 font-regular text-body">
      HÖJSKOLENDK er noget for dig, hvis du vil på højskole i udlandet og er
      vild med højskolefællesskab, vil med på et fantastisk rejseeventyr, glæder
      dig til at lære om fremmede kulturer, vil rejse med rygsæk, drømmer om en
      fed grupperejse med andre skønne unge, vil opleve et stærkt sammenhold og
      ønsker inspirerende og meningsfuld undervisning. Du er sikker på en tryg
      rejseoplevelse da vi er medlem af Rejsegarantifonden.
    </p>
    <p class="mb-s text-neutrals-950 font-regular text-body">
      Vi glæder os til at lære dig at kende!
    </p>
    <div class="mt-ml mb-ml">
      <Button>LÆS OM VORES VÆRDIER</Button>
    </div>
  </div>

  <div class="m-lg object-bottom">
    <Image src={om_os} alt="Højskoleelever der vinker i naturen" />
  </div>
</section>

<!-- FAQ -->

<!-- REVIEWS -->

<section class="mb-2xl">
  <div class="m-lg relative">
    <img
      src="/public/imgs/caribien.webp"
      alt="caribien"
      class="object-cover object-top w-full h-[500px]"
    />

    <div
      class="w-[781px] h-[360px] bg-neutrals-50 text-center absolute top-[50%] translate-y-[-50%] left-[50%] translate-x-[-50%]"
    >
      <div class="m-lg mt-2xl">
        <h4 class="text-h4 text-neutrals-950 font-bold font-headline mb-sm">
          Min nye familie
        </h4>
        <h5 class="text-h5 font-light text-neutrals-950">
          Højskolendk tilbyder en tryg rejseform med støtte fra erfarne
          rejseledere. Man skaber venskaber for livet, udvikler sig personligt
          og får en oplevelse, der varer evigt!
        </h5>
        <p class="text-body text-orange-500 mt-sm">TIDLIGERE REJSENDE, 2022</p>
      </div>
    </div>
  </div>
</section>

<section
  class="grid grid-cols-1 md:grid-cols-4 gap-4 p-4 items-center text-center m-lg mb-5xl"
>
  <!-- første sektion -->
  <div class="w-[286px] h-[150px] p-m bg-neutrals-50 shadow-drop25">
    <h5 class="text-h5">Glade & skønne elever</h5>
    <h5 class="text-h5 text-orange-500">2.000 +</h5>
  </div>
  <!-- anden sektion -->
  <div class="w-[286px] h-[150px] p-m bg-neutrals-50 shadow-drop25">
    <h5 class="text-h5">Anbefaler Höjskolendk</h5>
    <h5 class="text-h5 text-orange-500">94%</h5>
  </div>
  <!-- tredje sektion -->
  <div class="w-[286px] h-[150px] p-m bg-neutrals-50 shadow-drop25">
    <h5 class="text-h5">Trustpilot</h5>
    <h5 class="text-h5 text-orange-500">4.8 / 5</h5>
  </div>
  <!-- fjerde sektion -->
  <div class="w-[286px] h-[150px] p-m bg-neutrals-50 shadow-drop25">
    <h5 class="text-h5">Tilfreds efter ophold</h5>
    <h5 class="text-h5 text-orange-500">8.7 / 10</h5>
  </div>
</section>
