---
import MainLayout from "../layouts/MainLayout.astro";
import Button from "../components/Button.astro";
import Link from "../components/Link.astro";
import RejseCard from "../components/RejseCard.astro";
import { Image } from "astro:assets";
import index from "/public/imgs/index.webp";
---

<MainLayout title="Höjskolendk">
  <section class="relative">
    <Image
      src={index}
      alt=""
      class="w-full h-screen object-cover object-bottom"
    />
    <h1 class="font-headline text-h2 text-yellow-500 absolute top-4xl">
      Vores mest populære rejsepakker
    </h1>
    <RejseCard
      cardimage="ballroom.jpg"
      cardimagealt="Et par der danser ballroom"
      badgenyt="true"
      badgerabat="true"
      badgerabatsats="10%"
      badgefaapladser="true"
      rejsenavn="Ballroom for begyndere"
      varighed="Fredag 20-22"
      afrejsedatoer="25+"
      program="Begynder"
      pris="20"
    />
  </section>
</MainLayout>
