---
import MainLayout from "../layouts/MainLayout.astro";
import Button from "../components/Button.astro";
import Link from "../components/Link.astro";
import CarouselBtns from "../components/CarouselBtns.astro";
import RejseCard from "../components/RejseCard.astro";
import { Image } from "astro:assets";
import index from "/public/imgs/index.webp";
---

<MainLayout title="Höjskolendk">
  <section class="relative">
    <div class="relative">
      <Image
        src={index}
        alt="Unge mennesker der bader ved et vandfald"
        class="w-full h-screen object-cover object-bottom"
      />
      <div class="absolute inset-0 bg-orange-500-filter"></div>
    </div>
    <h1 class="font-headline text-h2 text-yellow-500 absolute top-3xl left-s">
      Vores mest populære rejsepakker
    </h1>
    <div
      class="lg:absolute lg:top-[60%] lg:translate-y-[-60%] lg:left-[50%] lg:translate-x-[-50%] lg:w-full m-s lg:m-0"
    >
      <RejseCard
        cardimage="/imgs/caribien.webp"
        cardimagealt="Unge mennesker der vandrer på en klippe foran en strand"
        badgenyt="true"
        badgerabat="true"
        badgerabatsats="10%"
        badgefaapladser="true"
        rejsenavn="CARIBIEN, HAWAII & MEXICO"
        varighed="3 måneder"
        afrejsedatoer="20. okt 2024"
        program1="New York City, USA"
        program2="Oahu, Hawaii"
        program3="Playa del Carmen, Mexico"
        program4="St. Croix & Puerto Rico, Caribien"
        program5="Friuge"
        pris="67.900 DKK"
      />
    </div>
    <div
      class="absolute top-[34%] lg:top-auto lg:bottom-m left-[50%] translate-x-[-50%]"
    >
      <CarouselBtns />
    </div>
  </section>
</MainLayout>
