---

---

<div class="flex gap-xxs">
  <div
    class="cursor-pointer border-2 border-orange-500 p-xs rounded-full inline-block hover:shadow-drop15"
  >
    <svg
      class=""
      xmlns="http://www.w3.org/2000/svg"
      width="21"
      height="21"
      viewBox="0 0 14 21"
      fill="none"
    >
      <path d="M13 1L2 10.5L13 20" stroke="#FE6E1F" stroke-width="2"></path>
    </svg>
  </div>
  <div
    class="cursor-pointer bg-orange-500 border-2 border-orange-500 p-xs rounded-full inline-block hover:shadow-drop15"
  >
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="21"
      height="21"
      viewBox="0 0 14 21"
      fill="none"
    >
      <path d="M1 1L12 10.5L1 20" stroke="#FAF3E1" stroke-width="2"></path>
    </svg>
  </div>
</div>
