---

---

<footer class="bg-orange-500 text-white py-10">
  <div
    class="max-w-6xl mx-auto grid grid-cols-1 md:grid-cols-3 gap-8 text-center md:text-left"
  >
    <!-- Højskolendk Section -->
    <div>
      <h3 class="text-lg font-semibold">HØJSKOLENDK</h3>
      <p class="mt-2">
        Rosenørns Allé 29<br />
        1970 Frederiksberg<br />
        Danmark
      </p>
      <p class="mt-6 font-extrabold">HØJSKOLENDK</p>
    </div>

    <!-- Kontakt Section -->
    <div>
      <h3 class="text-lg font-semibold">KONTAKT</h3>
      <p class="mt-2">
        Telefon: 70 27 90 07<br />
        Mandag til Fredag <br />
        Kl. 10.00-16.00<br />
        Mail: <a href="mailto:info@hojskolendk.dk" class="underline"
          >info@hojskolendk.dk</a
        >
      </p>
    </div>

    <!-- SOME Section -->
    <div>
      <h3 class="text-lg font-semibold">SOME</h3>
      <div class="mt-4 flex flex-col justify-center md:justify-start space-x-4">
        <!-- ikoner (skal sættes ind) -->
        <a href="#" class="hover:opacity-80"><span class="">Facebook</span></a>
        <a href="#" class="hover:opacity-80"><span class="">Instagram</span></a>
        <a href="#" class="hover:opacity-80"><span class="">TikTok</span></a>
        <a href="#" class="hover:opacity-80"><span class="">LinkedIn</span></a>
        <a href="#" class="hover:opacity-80"><span class="">YouTube</span></a>
      </div>
    </div>
  </div>
</footer>
