---
import Button from "../components/Button.astro";
import Link from "../components/Link.astro";
import { Image } from "astro:assets";
import logo from "/public/imgs/logo.svg";
---

<div
  class="flex items-center h-fit w-full bg-cover bg-top absolute top-0"
  style="background-image: url('/src/assets/images/baggrund.webp')"
>
  <div
    x-data="{ showmenu: false }"
    class="static top-0 w-full bg-transparent z-50"
  >
    <div id="navbar" class="flex flex-row justify-between items-center">
      <!-- Logo -->
      <div id="logo" class="p-s">
        <a href="/"><Image src={logo} alt="Højskolendk logo" /></a>
      </div>

      <!-- Burger menu -->
      <button
        id="burgermenu"
        class="z-50 p-xs cursor-pointer bg-orange-500"
        x-on:click="showmenu = ! showmenu"
      >
        <!-- Burger icon -->
        <svg
          x-show="!showmenu"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.2"
          stroke="rgba(250, 243, 225, 1)"
          class="size-10"
        >
          <path
            stroke-linecap=""
            stroke-linejoin=""
            d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5"></path>
        </svg>

        <!-- Cross icon -->
        <svg
          x-show="showmenu"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.2"
          stroke="rgba(250, 243, 225, 1)"
          class="size-10"
        >
          <path stroke-linecap="" stroke-linejoin="" d="M6 18L18 6M6 6l12 12"
          ></path>
        </svg>
      </button>
    </div>

    <!-- Mobil menu -->
    <nav
      id="mobilmenu"
      class="flex flex-col gap-6 bg-orange-500 h-screen w-9xl pl-14 pt-24 absolute top-0 z-10 right-[70px]"
      x-show="showmenu"
      x-transition
      x-on:click="showmenu = false"
      x-on:click.outside="showmenu = false"
    >
      <ul>
        <li class="py-3">
          <Link href="/rejser">Rejsepakker</Link>
        </li>
        <li class="py-3">
          <Link href="#infomøder">Infomøder</Link>
        </li>
        <li class="py-3">
          <Link href="#rejseblogs">Rejseblogs</Link>
        </li>
        <li class="py-3">
          <Link href="#rejse_med_hojskolendk">Rejse med Höjskolen</Link>
        </li>
        <li class="py-3">
          <Link href="#om_os">Om os</Link>
        </li>
        <li class="py-3">
          <Link href="#faq">FAQ</Link>
        </li>
        <li class="py-3">
          <Link href="#anmeldelser">Anmeldelser</Link>
        </li>
      </ul>
    </nav>
  </div>
</div>
