---
import Button from "../components/Button.astro";
---

<article class="bg-neutrals-50 shadow-drop25 m-lg flex flex-row">
  <img
    src="/public/imgs/caribien.webp"
    alt=""
    class="object-cover h-8xl w-full"
  />
  <p class="font-headline text-h3 font-bold text-neutrals-950">
    CARIBIEN, HAWAII & MEXICO
  </p>
  <div class="flex gap-m">
    <div>
      <div class="flex items-center gap-xxs">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 512 512"
          width="23"
          fill="rgba(254, 110, 31, 1)"
          ><!--!Font Awesome Free 6.7.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.-->
          <path
            d="M256 0a256 256 0 1 1 0 512A256 256 0 1 1 256 0zM232 120l0 136c0 8 4 15.5 10.7 20l96 64c11 7.4 25.9 4.4 33.3-6.7s4.4-25.9-6.7-33.3L280 243.2 280 120c0-13.3-10.7-24-24-24s-24 10.7-24 24z"
          ></path></svg
        >
        <p class="font-headline text-h6 font-bold text-neutrals-950">
          VARIGHED:
        </p>
      </div>
      <p class="pl-sm">3 måneder</p>
    </div>
    <div>
      <div class="flex items-center gap-xxs">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 512 512"
          width="23"
          fill="rgba(254, 110, 31, 1)"
          ><!--!Font Awesome Free 6.7.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.-->
          <path
            d="M256 0a256 256 0 1 1 0 512A256 256 0 1 1 256 0zM232 120l0 136c0 8 4 15.5 10.7 20l96 64c11 7.4 25.9 4.4 33.3-6.7s4.4-25.9-6.7-33.3L280 243.2 280 120c0-13.3-10.7-24-24-24s-24 10.7-24 24z"
          ></path></svg
        >
        <p class="font-headline text-h6 font-bold text-neutrals-950">
          VARIGHED:
        </p>
      </div>
      <p class="pl-sm">3 måneder</p>
    </div>
    <div>
      <div class="flex items-center gap-xxs">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 512 512"
          width="23"
          fill="rgba(254, 110, 31, 1)"
          ><!--!Font Awesome Free 6.7.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.-->
          <path
            d="M256 0a256 256 0 1 1 0 512A256 256 0 1 1 256 0zM232 120l0 136c0 8 4 15.5 10.7 20l96 64c11 7.4 25.9 4.4 33.3-6.7s4.4-25.9-6.7-33.3L280 243.2 280 120c0-13.3-10.7-24-24-24s-24 10.7-24 24z"
          ></path></svg
        >
        <p class="font-headline text-h6 font-bold text-neutrals-950">
          VARIGHED:
        </p>
      </div>
      <p class="pl-sm">3 måneder</p>
    </div>
  </div>
  <div class="flex flex-col gap-xxs">
    <div class="flex flex-col gap-xxxs">
      <p class="font-headline text-h6 font-bold text-neutrals-950">PRIS FRA:</p>
      <p class="text-h3 font-semibold text-neutrals-950">67.900 DKK</p>
    </div>
    <p class="font-extralight italic">Flybillet tur/retur er inkluderet.</p>
  </div>
  <Button>Button</Button>
</article>
